.splash{
    padding: 50px 0px 100px;
    border-bottom: 1px solid #e0e0e0;
}
    .pageTitle{
        margin-bottom: 0px;
    }
    .splashSection{
        margin: 2rem 0px;
    }
        .splashActions {

        }
            .splashActionBtn{

            }
.launchDate {

}